body{
    background-color: lightgray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden; /*this is for when something goes outside of its containner theres no scroll bar
                        it controls how thing behave when they extent past its container*/
}

.main-header{

    background-color: coral;
    color: white;

}

#navbar{

background-color: rgb(65, 54, 54);
color: white;

}

#navbar ul{

padding: 0;
list-style: none;


}

#navbar li{

    display: inline;

}

#navbar a{

    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;

}

#showcase{

    background-image: url('../Images/showcase.jpg');
    background-position: center right;
    min-height: 300px; /*esto hace que se mantenga la altura aun se mueva la pagina, la altura crece
                        reactivamente*/
    margin-bottom: 30px;
    text-align: center;

}

#showcase h1{

    color: white;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;

}

#main{

    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;

}

#sidebar{

    float: right;
    width: 30%;
    background: rgb(65, 54, 54);;
    color: white;
    padding: 10px;
    box-sizing: border-box;

}

#main-footer{

    background: rgb(65, 54, 54);;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}

@media (max-width: 800px){  /*esto sirve para aplicar estilo al cumplir una condicion, aqui se quita
                            el float par que se vea mejor cuando la pag se hace pequeña*/
    #main
    {
        width: 100%;
        float: none;
    }

    #sidebar{

        width: 100%;
        float: none; 

    }

}