/*

*{
    margin: 0;
    padding: 0;
}

a esto se le llama el reset, se aplica en todos los elementos

*/

a{ /*this is a global setting change for all links links are on the a element, links have diferrent
    states which can be changed*/
    text-decoration: none;
    color: black;
}

a:hover{ /*state*/

    color:red;

}

a:active{ /*state, esto es cuando se le da click al link que cambia de color brevemente*/

    color:green;

}

/*a:visited{
    color:yellow;
}
*/

body{
    background-color: #f4f4f4;
    color: #7c7272;
    font-family: Arial, Helvetica, sans-serif; /* theres web safe fonts which dont need to be imported */
    font-size: 18px;
    font-weight: normal;
    font: normal 16px Arial, Helvetica, sans-serif; /* esto es una forma mas resumida para 
                                                    poner negrita y tipo de letra */
    line-height: 1.6em; /* esto es para la separacion entre oraciones */
    margin:0; /*keep in mind that headers have margin by default*/
}

.container{
    width: 500px;   /*es el ancho de un elemento*/
                    /*si se usa pixeles se vuelve rigido y no cambio de tamaño segun se manipula la pes
                    taña, es mejor usar un % instead*/
    margin: auto; /*pone un margen automatico en todos los lados, el margen es el espacio entre elementos*/
}

.button{

    background-color: darkgray;
    color: white;
    padding: 10px 15px;
    border: none;
    
    }

.button:hover{
    background-color: red;
    color: white;
}

.clr{
    clear: both;
}

.box-1{
    background-color: #333;
    color: white;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /*same as above*/
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding-top: 20px;
    padding: 20px;

    margin: 20px 0; /*el margen es el espacio fuera del borde*/
}

.box-1 h1 {
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted lightgray;
    padding: 20px;
    margin: 20px 0;
}

.categories{ /* esto es lo que esta alrededor de la lista */
    border: 1px black solid;
    padding: 10px;
    border-radius: 15px; /*esyo le da redondes a los elementos*/
}

.categories h2{ /*haciendo enfoque al texto h2*/
    text-align: center;
}

.categories ul{ /* the list has some padding by default*/

    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style: none;
}

.categories li{
    padding-bottom: 6px; /*padidng para cada elemento de la lista*/
    border-bottom: dotted 1px lightseagreen;
    list-style-image: url('../Images/checkmark.png');

}

.my-form{
    padding: 20px;
}

.my-form .form-group{ /*se puede llamar a una clase dentro de otra clase interesante...*/

 padding-bottom: 15px;

}

.my-form label{

display: block; /*esto lo que hace es cambiarlo de inline (sobre linea) a block/bloque, los elementos de bloque
                tienen un salto de linea automaticamente. asi se evita poner un break*/


}

.my-form input[type="text"], .my-form textarea{ /*esta etiqueta lo que hace es que especifica el tipo de input que afectara, aqui
                            solo esta afectando a los campos de tipo texto, si no se pone esto afectaria el diseño
                            del boton el cual tambien es un input*/

                            /*con la coma se puede poner otra clase para ponerle las mismas reglas*/

pad: 8px;
width: 100%;

}

.block { /*floating practice*/
    float: left;
    width: 33.3%; /*se puso de este largo porque habian 3 elementos*/
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box; /*esto se pone debido a que al poner el borde y el padding como el
                            tamaño estaba al justo. la agregarle eso hacia que los elementos se
                            muevan de lugar. al poner el pox-sizing igual al borde de la caja
                            resuelve esa problematica.
                            
                            box sizing permite agregar el padding y el borde al tamaño total
                            del elemento*/
}

#main-block { /* se usa # para llamar a un elemento con id asignado*/

    float: left;
    width: 70%;
    padding:  15px;
    box-sizing: border-box;

}

#sidebar { /* se usa # para llamar a un elemento con id asignado*/

    float: right;
    width: 30%;
    background-color: #333;
    color: white;
    padding:  15px;
    box-sizing: border-box;

}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative; /*al poner esto en este contenedor se evita que al cambiar la position de un elemento
                        este tome el documento html completamente en vez del contenedor que se*/
    background-image: url('../Images/tiger.jpg'); /*eso es para poner una omagen de fondo al contenedor*/
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top;
}

.p-box h1{
 
    position: absolute;
    top: 100px;
    left: 200px;
    
}

.p-box h2{

    position: absolute;
    bottom: 40px;
    right: 100px;

}    

.fix-me{

    position: fixed; /* hace que el elemento se mantenga en pantalla aun si se scrollea la pagina
                     se puede usar para poner links de redes sociales o poner una barra de navegacion
                     que siempre se quede al hacer scroll. */
    top: 400px;

}

.my-list li:first-child{ /*esto se llama pseudo clase, en este caso de usa para afectar al primer 
                        elemento li dentro de ul llamado hijo/child*/

    background: red;

}

.my-list li:last-child{ /*esto se llama pseudo clase, en este caso de usa para afectar al ultimo 
    elemento li dentro de ul llamado hijo/child*/

background: blue;

}

.my-list li:nth-child(5){ /*esto se llama pseudo clase, en este caso de usa para afectar 5to
    elemento li dentro de ul llamado hijo/child*/

background: yellow;

}

.my-list li:nth-child(even){ /*esto se llama pseudo clase, en este caso de usa para afectar a los
    elementos pares li dentro de ul llamado hijo/child*/

background: darkgray;

}

/*
.my-form input[type="submit"]{

background-color: darkgray;
color: white;
padding: 10px 15px;
border: none;

}

*/
