.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.boton-header{

    background-color: darkgray;
    color: white;
    padding: 10px 15px;
    border: none;
    
    }

.boton-header:hover{
    background-color: red;
    color: white;
}

#main-header{
    
}

